<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- jquery nằm trước owl.carousel.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl.carousel.min.js đặt sau jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- Animate.css for animations (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/"><img src="/img/6.png" alt="logo" style="height: 70px;">Fruits</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Trang Chủ</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">Giới Thiệu</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/post">Sản Phẩm</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Liên hệ</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/baner_trangchu.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Trái Cây Tươi</h1>
                        <span class="subheading">Chào mừng bạn đến với cửa hàng!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10  ">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="views/about.ejs">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/img/gioithieucuahang.jpg" alt="Bitcoin Image" style="width: 100%;">
                            </div>
                            <div class="col-lg-6">
                                <h3 class="" style="font-family: ChuckFive; font-size: 50px; color: rgb(255, 70, 19);">
                                    GIỚI THIỆU
                                    CỬA HÀNG</h3>
                                <i style="color: gray; text-align: justify;">
                                    Chào mừng quý khách đến với cửa hàng trái cây của chúng tôi! Tại đây, chúng tôi tự
                                    hào mang đến cho quý khách những loại trái cây tươi ngon nhất, được chọn lọc kỹ
                                    lưỡng từ những nhà vườn uy tín trên khắp cả nước. Cửa hàng của chúng tôi không chỉ
                                    cung cấp đa dạng các loại trái cây theo mùa, mà còn cam kết về chất lượng và độ an
                                    toàn thực phẩm.<br>

                                    Chúng tôi luôn đặt sức khỏe của khách hàng lên hàng đầu, vì vậy tất cả các sản phẩm
                                    đều được kiểm tra và bảo quản cẩn thận để giữ nguyên hương vị tự nhiên và giá trị
                                    dinh dưỡng. Đội ngũ nhân viên nhiệt tình và thân thiện của chúng tôi sẵn sàng hỗ trợ
                                    và tư vấn để quý khách có những lựa chọn tốt nhất cho bữa ăn và sức khỏe của
                                    mình.<br>

                                    Hãy đến với cửa hàng trái cây của chúng tôi để trải nghiệm sự tươi mới, chất lượng
                                    vượt trội và dịch vụ hoàn hảo. Chúng tôi rất hân hạnh được phục vụ quý khách!
                                </i>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider-->
    <hr class="my-4" /> <!-- Post preview-->
    <div class="text-center">
        <h3><b><span style="color: rgb(39, 34, 28);">SẢN PHẨM BÁN CHẠY</span><span style=" color: rgb(255, 70, 19);">
                    TRONG CỬA HÀNG</span></b></h3>
    </div>
    <div class="container my-5">
        <div class="row">
          <% fruits.forEach(fruit => { %>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card card-custom position-relative"> <img src="/img/<%= fruit.image%>.jpg" style="width: 100%; height: 300px" class="card-img-top"
                      alt="Mỳ Xào Cay">
                  <div class="card-body card-body-custom text-center">
                      <h5 class="card-title"><%= fruit.name %></h5>
                      <p class="card-text text-danger">Giá:<%= fruit.price %>.000vnđ/kg</p>
                      <p class="card-text">Số lượng:<%= fruit.quantity %></p>
                  </div>
                 <div class="row p-3">
                  <div class="d-flex justify-content-center col"> <button class="btn btn-primary">Mua Hàng</button> </div>
                  <div class="d-flex justify-content-center col"> <button class="btn btn-danger">Thêm vào giỏ hàng</button> </div>
                 </div>
              </div>
          </div>
          <% }) %>
            
           
    </div> <!-- Divider-->
    <hr class="my-4" /> <!-- Post preview-->
    <div class="post-preview"> <a href="post.html">
            <div class="container fluid">
                <h3><b>OUR <span style="color: #a02800;">FOOD</span></b></h3>
                <p style="color: gray;">Nhà hàng chúng tôi luôn đón chào quý khách!</p>
            </div>
        </a> </div>
    <!-- Divider-->
    <hr class="my-4" />
    <!-- Post preview-->
    <div class="post-preview">
        <!--carousel  -->
        <div class="owl-carousel owl-theme animate__delay-3s animate__animated animate__fadeInUp">
            <!-- Bấm hình lên liên kết với Lab khác -->
            <% fruits.forEach(fruit => { %>
              <div> <img src="/img/<%= fruit.image %>.jpg" style="width: 100%; height: 250px;" alt=""></div>
            <% }) %>
        </div>
    </div>
    <!--  -->
    <hr class="my-4" />
    <footer class="bg-black text-white py-5">
        <div class="container-lg">
            <div class="row">
                <!-- Bên trái -->
                <div class="col-lg-4 mb-4 mb-lg-0 text-center">
                    <div class="border border-warning rounded p-3">
                        <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                        <h3>RƯỢU HẢO HẠN</h3>
                        <p style="color: gray;">American</p>
                        <p style="color: gray;">Rượu làm vơi đi nỗi buồn và suy tư. Tạo cho bạn một cảm giác bình
                            yên, giảm căn thẳng.</p>
                        <div class="social-icons d-flex justify-content-center">
                            <img src="hinhanh_labs/images/lin.png" alt="Facebook" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/tw.png" alt="Twitter" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/insta.png" alt="LinkedIn" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/fb.png" alt="Instagram" class="social-icon mx-2">
                        </div>
                    </div>
                </div>
                <!-- Center -->
                <div class="col-lg-4 mb-4 mb-lg-0 text-center">
                    <div class="border border-warning rounded p-3">
                        <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                        <h3>ÉP TÁO HỒNG</h3>
                        <p style="color: gray;">Japan</p>
                        <p style="color: gray;">Ép táo thơm ngon, bổ dưỡng cho da mặt, hỗ trợ miễn dịch.
                            Giúp đẹp da và sáng da.</p>
                        <div class="social-icons d-flex justify-content-center">
                            <img src="hinhanh_labs/images/lin.png" alt="Facebook" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/tw.png" alt="Twitter" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/insta.png" alt="LinkedIn" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/fb.png" alt="Instagram" class="social-icon mx-2">
                        </div>
                    </div>
                </div>
                <!-- Bên phải -->
                <div class="col-lg-4 text-center">
                    <div class="border border-warning rounded p-3">
                        <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                        <h3>RƯỢU NHO NỒNG</h3>
                        <p style="color: gray;">China</p>
                        <p style="color: gray;">Rượu làm vơi đi nỗi buồn và suy tư. Tạo cho bạn một cảm giác bình
                            yên, giảm căn thẳng.</p>
                        <div class="social-icons d-flex justify-content-center">
                            <img src="hinhanh_labs/images/lin.png" alt="Facebook" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/tw.png" alt="Twitter" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/insta.png" alt="LinkedIn" class="social-icon mx-2">
                            <img src="hinhanh_labs/images/fb.png" alt="Instagram" class="social-icon mx-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- Pager-->
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
            Posts →</a></div>
    </div>
    </div>
    </div>


    <!-- footer cuối -->
    <footer>
        <div class=""
            style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(hinhanh_labs/imagelab6/footer-bg.jpg); background-size: 100% 100%;">
            <div>
                <div class="text-white row row-cols-lg-4" style="padding: 24px 200px;">
                    <div class="col">
                        <h3 class="border-bottom mb-3">About US</h3>
                        <p> Integer cursus scelerisque ipsum id</p>
                        Efficitur. Donec a dui fringilla,
                        Gravida lorem ac, semper magna.
                        Aenean rhoncus ac lectus a
                        Interdum. Vivamus semper posuere dui.

                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-3">Subscribe</h3>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control bg-transparent text-white" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <button class="btn w-100 text-white"
                            style="background: #f75f19; height: 44px;">SUBSCRIBE</button>
                        <div class="row justify-content-around m-2 mt-4 row-cols-lg-5">
                            <div class="col">
                                <i class="fa-brands fa-square-facebook fa-2x" style="color: #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-square-twitter fa-2x" style="color:  #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-linkedin-in fa-2x" style="color: #fa9201;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-google-plus-g fa-2x" style="color: #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-square-instagram fa-2x" style="color: #fa7d01;"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-2">Contact</h3>
                        <p>Hồ Chí Minh city</p>
                        <p>+123456789000000</p>
                        <p>in@acmin.com</p>
                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-3">Opening Hours</h3>
                        <p>Monday: Closed</p>
                        <p>Tue-Wed : 9:Am - 10:PM</p>
                        <p>Thu-Fri : 9:Am - 10:PM</p>
                        <p> Sat-Sun : 5:PM - 10:PM</p>


                    </div>
                </div>
                <div class="border-top border-white p-3 bg-black">
                    <p class="text-white text-center my-3">All right reserved: &copy 2018 Live Dinner Restaurant
                        design by: html design </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Hình máy bay màu đỏ phía cuối -->
    <a href="#top" class="position-fixed bottom-0 end-0 translate-middle"><i
            class="fa-solid fa-paper-plane fa-3x text-danger"></i></a>



</body>

</html>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Initialize Owl Carousel -->
<script> $(document).ready(function () { $('.owl-carousel').owlCarousel({ items: 1, loop: true, margin: 10, autoplay: true, autoplayTimeout: 3000, autoplayHoverPause: true, animateOut: 'fadeOut', animateIn: 'fadeIn', responsive: { 0: { items: 1 }, 600: { items: 3 }, 1000: { items: 5 } } }); }); </script>
<!-- lordicon  nhúng bằng embed-->
<script src="https://cdn.lordicon.com/lordicon.js"></script>